extends layout.pug

block custom-styles
      
    
    link(rel='stylesheet', href='/static/styles/myProfile.css')

block content
       .wrapper
           #home-wrapper
                // Begin Content Area
                #home-content
                    // Begin Header
                    p
                    // Begin Contact Section
                    section#contact-details
                        .header_1
                            img(src='/static/images/defaultProfilePic.png', width='250', height='250', alt='Your Name')
                        
                        .header_2
                            != messages()
                            h1
                                span= model.name
                                                            
                            ul.info_1 
                                li.address Address:   
<<<<<<< HEAD
                                    a.home-a= model.address
                            ul.info_2
                                li.phone Phone:  
                                    a.home-a= model.phone
                                li.email Email address: 
                                    a.home-a= model.email
=======
                                    a.home-a(href='/auth/updateProfile', title='Update address') Click to add
                            ul.info_2
                                li.phone Phone:  
                                    a.home-a(href='/auth/updateProfile', title='Update phone number') Click to add
                                li.email Email address: 
                                    a.home-a(href='/auth/updateProfile', title='Update email')= email
                                
>>>>>>> 0bd5a9bec521611d42c6e5dfe153313b2f0a9174
                                li.twitter Purchase History:  
                                        .history_modal
                                            input#history_modal__trigger(type='checkbox')
                                            label(for='history_modal__trigger')  History 
                                            .history_modal__overlay
                                                    .history_modal__wrap
                                                        label(for='history_modal__trigger') ✖
                                                        h2.history_main History to be listed in the loading image once the request is returned successfully
                                                        p
                                                            #loadingDiv
                                                                img(src='/static/images/loading_gif.gif')
                                                                br
                                                                | Loading

                                .container-button
                                    form(action='./updateProfile')
                                        input.changeDetails(type='submit', value='Change Details', title="Press to change user details")
                                    
   
                                        
                    .clear  
                    
block custom-scripts
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/static/scripts/myProfile.js')
   
                                   